<ion-header>
  <ion-toolbar>
    <ion-title>tarefas</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button routerLink="/form-tarefa"></ion-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="pesquisa" (ionChange)="buscar()" placeholder="Digite o termo de pesquisa">
    
  </ion-searchbar>

  <ion-card *ngFor="let item of tarefas">
    <ion-card-header>
      <ion-card-title>{{item.nome}}</ion-card-title>
      <ion-card-subtitle>{{item.descricao}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="inicioAlteracao(item)">Editar</ion-button>
      <ion-button (click)="remover(item)">Excluir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
